@inject NavigationManager NavigationManager
@inject SignInManager<User> SignInManager
@inject AuthenticationStateProvider AuthProvider
@implements IDisposable

<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>


    </ul>
</div>

@code {
    private async Task Logout()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
    }
}
